# dependencies
node_modules/

# next.js
.next/
out/

# production
build/

# environment
.env
.env.local
.env.*
.env.*.local
mongo-keyfile

# testing
coverage/

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.DS_Store
*.pem

# typeScript
*.tsbuildinfo
next-env.d.ts

# editor
.vscode/
!.vscode/settings.json
!.vscode/extensions.json
